header{
    height: 80vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-items: center;

    .text-container{
        justify-self: right;
        width: 83%;
        h1,p,.button-container{
            white-space: pre-line;
        }
        h1{
            font-size: 5.3em;
            line-height: 95px;
            color: $very-dark-violet;
        }
        p{
            font-size: 1.5rem;
            color: $grayish-violet;
        }
        .button-container{
            button{
                @include button-rounded-main;
                width: 180px;
                height: 50px;
            }
        }
    }

    .image-container{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: flex-end;
        img{
            object-fit: cover;
        }
    }

}