@mixin button-rounded-main {
    background-color: $cyan;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.2rem;
}
@mixin button-rounded-shortner {
    background-color: $cyan;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: 1.2rem;
}
@mixin main-anchors {
    color: $grayish-violet;
    font-weight: bold;
}