@mixin button-rounded-main {
    background-color: $cyan;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.2rem;
}
@mixin button-rounded-shortner {
    background-color: $cyan;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: 1.2rem;
}
@mixin main-anchors {
    color: $grayish-violet;
    font-weight: bold;
}
@mixin navbar-links-hover {
    color: $very-dark-blue;
    transition: 300ms;
}
@mixin main-button-hover {
    background-color: hsl(180, 61%, 78%) !important;
    transition: 300ms !important;
}
@mixin footer-hovers {
    transition: 300ms;
    color: $cyan;
}