main{
    position: relative;
    top: 100px;
    .shortner-section{
        background-color: $light-gray;
        height: 600px;
        display: grid;
        justify-items: center;
        grid-template-rows: 40% 60%;
    
        form{
            background-color: $dark-violet;
            background-image: url("../images/bg-shorten-desktop.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 80%;
            border-radius: 15px;
            position: relative;
            top: -50%;
            display: grid;
            place-items: center;

            div{
                width: 90%;
                display: grid;
                grid-template-columns: 70% 30%;
                position: relative;

                input{
                    width: 95%;
                    height: 60px;
                    border-radius: 8px;
                    border: none;
                    outline-color: $cyan
                }
                button{
                    @include button-rounded-shortner;
                    height: 60px;
                }
                .error-message{
                    color: $red;
                    position: absolute;
                    bottom: -35px;
                    font-style: italic;
                    display: none;
                }
                ::placeholder{
                    font-size: 1.2rem;
                    padding-left: 30px;
                    position: relative;
                    top: 5px;
                }
            }
        }

        .short-links-list{
            height: auto;
            width: 80%;
            overflow-y: auto;
            display: grid;
            align-content: flex-start;
            gap: 20px;

            hr{
                display: none;
                border-bottom: 1px solid $light-gray;
                border-top: none;
                border-left: none;
                border-right: none;
                width: 90%;
                justify-self: center;
            }

            li{
                background-color: white;
                height: 70px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p{
                    margin-left: 30px;
                    font-size: 1.2rem;
                    color: $very-dark-blue;
                }

                div{
                    display: flex;
                    margin-right: 30px;
                    align-items: center;

                    p{
                        color: $cyan;
                        margin-right: 20px;
                        font-size: 1.2rem;
                    }
                    button{
                        @include button-rounded-shortner;
                        width: 110px;
                        height: 40px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .advanced-statistics-section{
        background-color: $light-gray;
        display: grid;
        justify-items: center;
        height: fit-content;
        min-height: 1000px;
        grid-template-rows: 50% 50%;

        .text-container, .card-container{
            width: 80%;
        }

        .text-container{
            text-align: center;
            align-self: center;

            h2{
                font-size: 3rem;
                color: $very-dark-blue;
            }
            p{
                font-size: 1.3rem;
                color: $grayish-violet;
                white-space: pre-line;
            }
        }

        .card-container{
            position: relative;
            z-index: 1;
            display: grid;
            align-items: center;
            grid-template-columns: 33.333% 33.333% 33.333%;
            height: 400px;
            .card{
                background-color: white;
                width: 90%;
                height: 280px;
                border-radius: 10px;
                display: grid;
                grid-template-rows: 20% 80%;

                .card-image-container{
                    background-color: $dark-violet;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    position: relative;
                    top: -60%;
                    left: 7%;
                }

                .card-text-container{
                    width: 90%;
                    height: 100%;
                    justify-self: center;
                    display: grid;
                    align-content: center;

                    .card-header{
                        font-size: 1.4rem;
                        font-weight: bold;
                        color: $very-dark-violet;
                    }
                    .card-text{
                        white-space: pre-line;
                        color: $grayish-violet;
                    }
                }
            }
            .card:nth-child(1){
                align-self: flex-start;
            }
            .card:nth-child(2){
                align-self: center;
            }
            .card:nth-child(3){
                align-self: flex-end;
            }
        }

        /* cyan line in the container background */
        .card-container::after{
            content: '';
            position: absolute;
            left: 0;
            z-index: -1;
            background-color: $cyan;
            width: 95%;
            height: 10px;
        }
    }

    .boost-your-links-banner-section{
        height: 250px;
        background-color: $dark-violet;
        background-image: url("../images/bg-boost-desktop.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        gap: 30px;
        place-content: center;

        p{
            font-size: 2rem;
            font-weight: bold;
            color: white;
        }
        button{
            @include button-rounded-main;
            width: 180px;
            height: 50px;
            justify-self: center;
        }
    }
}