@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;   
}
button{
    border: none;
    cursor: pointer;
}
button:hover{
    @include main-button-hover;  
}
ul{
    list-style: none;
}
a{
    color: unset;
    text-decoration: none;
}

@import "navigation";
@import "hero-section";
@import "sections";
@import "footer";
@import "media-queries";